
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f0f0f0, #dfe9f3);
  overflow: hidden;
}


.blur-bg {
  position: absolute;
  width: 400px;
  height: 400px;
  filter: blur(120px);
  border-radius: 50%;
}
.blur-bg.one { top: -100px; left: -100px; background: #ffffff70; }
.blur-bg.two { bottom: -100px; right: -100px; background: #cfd9ff70; }


.card {
  position: relative;
  background: #ffffffcc;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  padding: 2rem;
  width: 330px;
  text-align: center;
  transform: translateY(40px);
  opacity: 0;
  transition: all 1s ease;
}

.card.show {
  transform: translateY(0);
  opacity: 1;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  background: #f7f7f7;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.links a i {
  font-size: 18px;
}

.links a.instagram:hover { background: #E1306C; color: #fff; }
.links a.tiktok:hover { background: #000; color: #fff; }
.links a.youtube:hover { background: #FF0000; color: #fff; }
.links a.github:hover { background: #333; color: #fff; }
.links a.discord:hover { background: #1d158f; color:#fff}
.links a:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  font-family: sans-serif;
.snap-section {
  margin-top: 1.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snap-section {
  margin-top: 1.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snap-img {
  width: 15
  0px;
  aspect-ratio: 1 / 1; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  object-fit: cover;
  transition: all 0.3s ease;
  cursor: pointer;
}

.snap-img.expanded {
  width: 90px; 
  aspect-ratio: 0.5/ 1;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  z-index: 10;
}
}

